<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro</title>
</head>
<body>
    <h1>Formulário de Cadastro</h1>
    <form action="" method="post">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
        
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">

        <label for="senha-confirm">Confirmação de senha</label>
        <input type="password" name="senha-confirm" id="senha-confirm">
        
        <button type="submit" id="cadastar-usuario">Confirmar Cadastro</button>
    </form>
</body>
</html>